.body {
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.filters {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}


.leftSection {
    width: 260px;
    border: 1px green solid;

}
.ca{
    font-size: 24px;
    font-weight: 400;
}
.selected{
    color:#FF5E1B;
    font-size: 24px;
    font-weight: 400;
}
.rightSection {}